<h1><%= @contact.name %></h1>

<p> Phones: </p>

<ul>
  <% @contact.phones.each do |phone| %>
    <li>
      <%= phone.number %> | <%= phone.label %> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>

<p> Addresses: </p>

<ul>
  <% @contact.addresses.each do |address| %>
    <li>
      <%= address.address %> | <%= address.label %> |
      <a href="/contacts/<%= @contact.id %>/addresses/<%= address.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/addresses/<%= address.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>

<p>Emails: </p>

<ul>
  <% @contact.emails.each do |email| %>
    <li>
      <%= email.email %> | <%= email.label %> |
      <a href="/contacts/<%= @contact.id %>/emails/<%= email.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/emails/<%= email.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>

<p><a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a></p>
<p><a href="/contacts/<%= @contact.id %>/addresses/new">Add Address</a></p>
<p><a href="/contacts/<%= @contact.id %>/emails/new">Add email address</a></p>
<p><a href="/contacts/<%= @contact.id %>/edit">Edit</a></p>
<p><a href="/contacts/<%= @contact.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/contacts">Return to contact listing</a></p>
